@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Malgun Gothic', 'Sans-serif';
	box-sizing: border-box;
}

@font-face {
	font-family: 'GmarketSans';
	font-weight: 200;
	src: url('../../font/GmarketSansBold.woff') format('woff');
}
@font-face {
	font-family: 'GmarketSans';
	font-weight: 100;
	src: url('../../font/GmarketSansMedium.woff') format('woff');
}
@font-face {
	font-family: 'tvn';
	font-weight: 100;
	src: url('../../font/tvn.woff') format('woff');
}
@font-face {
	font-family: 'nanummyeongjo';
	font-weight: 100;
	src: url('../../font/NanumMyeongjo.woff') format('woff');
}

textarea {
	overflow: auto;
	outline: none;
	resize: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}
input {
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

select {
	border: 1px solid rgb(211, 211, 211);
	height: 30px;
	background-color: #fff;
	padding: 0 10px;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background: url(../../img/ic-down.svg) 96% 46% no-repeat;
	font-size: 16px;
	outline: none;
}
select::-ms-expand {
	display: none;
}

button {
	cursor: pointer;
}

button.normal {
	border: none;
	background-color: #b4985a;
	color: #fff;
	font-weight: bold;
	padding: 10px 36px;
	border-radius: 5px;
}

.wrap {
	width: 100%;
}
.poster {
	background-color: #e7f4ee;
}
.poster img {
	width: 100%;
}

.wrap-btn {
	width: 100%;
	height: 25vh;
	background-color: #e7f4ee;
	text-align: center;
	padding: 20px 0 70px;
}
.wrap-btn button {
	width: 90vw;
	height: 48px;
	font-size: 18px;
	border: 0;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
.wrap-header {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.header {
	padding: 18px 20px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	background-color: #b4985a;
}
.header .user {
	background-image: url(../../img/ic-user.png);
	background-repeat: no-repeat;
	background-size: 16px;
	padding: 0 15px 0 20px;
}

.header .status {
	width: 3.8em;
	display: flex;
	justify-content: space-between;
}

.wrap-content {
	width: 100%;
	padding-top: 252px;
}
.wrap-content-article {
	width: 100%;
	padding-top: 58px;
}
.wrap-tit {
	margin: 0 auto;
	text-align: center;
	padding: 36px 0;
	background-color: #fff;
}
.wrap-tit .tit {
	font-size: 1.9em;
	color: #b4985a;
	font-family: 'GmarketSans';
}
.wrap-tit .subtit {
	font-size: 2.5em;
	font-family: 'tvn';
}

.wrap-header select {
	border: 0;
	width: 100%;
	height: 40px;
	font-size: 16px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding-right: 10px;
	background-color: #fff;
}

.list {
	width: 100%;
	min-height: 70vh;
	height: 100%;
	padding: 10px;
	background-color: #f0f0f0;
}
.nothing {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 20vh;
	color: #666;
}

.listbox {
	width: 100%;
	background-color: #fff;
	padding: 26px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin-bottom: 10px;
}
.listbox .writer {
	color: #666;
}
.writer .team {
	font-weight: bold;
}
.listbox .txt {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 140%;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 40px 0;
	text-align: left;
}

.info {
	display: flex;
	justify-content: space-between;
}
.like {
	background-image: url(../../img/ic-like.svg);
	background-repeat: no-repeat;
	padding: 0 16px 0 24px;
}
.like.on {
	background-image: url(../../img/ic-like-on.svg);
	background-repeat: no-repeat;
	padding: 0 16px 0 24px;
}
.num-reply {
	background-image: url(../../img/ic-reply.svg);
	background-repeat: no-repeat;
	padding: 0 16px 0 20px;
}
.date {
	color: #666;
}

.wrap-article {
	background-color: #f5f5f5;
	padding: 10px;
}

.tit-article {
	font-size: 18px;
	padding: 10px 0;
	color: #999;
	font-family: 'nanummyeongjo';
}
.txt-article {
	width: 100%;
	background-color: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 15px;
	border: 1px solid #e0e0e0;
}

.txt-article .writer {
	text-align: left;
	padding: 0 0 20px 0;
}
.txt-article p {
	padding: 30px 10px;
	font-size: 24px;
	line-height: 150%;
	font-family: 'nanummyeongjo';
}
.txt-start {
	width: 100%;
	text-align: left;
	padding: 10px 0 0 10px;
}
.txt-end {
	width: 100%;
	text-align: right;
	padding: 0px 10px 20px 0;
}

.etc-article {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.etc-article .date {
	padding-right: 10px;
}

.etc-article button {
	border: 0;
	padding: 6px 10px;
	border-radius: 5px;
	color: #999;
	font-size: 14px;
	background-color: #f0f0f0;
}

.wrap-info {
	display: flex;
	padding: 30px 0 10px 0;
	color: #666;
	justify-content: space-between;
	align-items: flex-start;
}

.btn-list {
	text-align: right;
	padding: 10px 0 6px 0;
}

.btn-list button {
	border: 0;
	background-color: transparent;
	color: #999;
	padding: 5px;
}
/* 댓글 */
.write-reply {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	width: 100%;
	margin-bottom: 20px;
	text-align: right;
	padding: 16px;
}
.write-reply textarea {
	width: 100%;
	height: 80px;
	border: 0;
	resize: none;
	outline: none;
	text-align: left;
}
.write-reply button {
	border: 0;
	background-color: transparent;
	color: #b4985a;
	font-weight: bold;
}

.reply {
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
}
.reply .btns {
	float: right;
}

.reply .date,
.reply .btns,
.reply .team {
	color: #999;
}
.reply .date {
	font-size: 12px;
}
.reply-writer {
	padding: 24px 0 8px;
}
.reply-writer .name {
	font-weight: bold;
	padding-right: 6px;
}
.txt-reply {
	padding: 10px 0 20px 0;
	line-height: 140%;
}
.reply-edit {
	border: 1px solid #e0e0e0;
	text-align: right;
	padding: 16px;
}
.reply-edit textarea {
	width: 100%;
	height: 80px;
	text-align: left;
	resize: none;
	border: 0;
}

.reply-edit button {
	border: 0;
	background-color: transparent;
	color: #b4985a;
	font-weight: bold;
}
/* 팝업 */
.modal {
	display: none;
}
.wrap-layerpop {
	position: fixed;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
.wrap-layerpop::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.wrap-write {
	display: inline-block;
	vertical-align: middle;
	width: 80vw;
	background: #fff;
	text-align: center;
	padding: 0 0 10px 0;
}

.wrap-login {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 80vw;
	background: #fff;
	text-align: center;
	padding: 0 0 30px 0;
}
.pop-header {
	width: 100%;
	padding: 15px 20px;
	background-color: #b4985a;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	box-sizing: border-box;
}
.pop-content {
	padding: 24px;
}
.pop-content p {
	text-align: left;
	padding-bottom: 20px;
	line-height: 150%;
}
.pop-content input,
.pop-content textarea {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #e0e0e0;
	text-align: left;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 10px;
	resize: none;
}
.pop-content textarea {
	height: 160px;
	padding: 10px;
}
.pop-content select {
	width: 100%;
	border: 1px solid #e0e0e0;
	text-align: left;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 10px;
	height: 40px;
	font-size: 14px;
	color: #666;
}
.pop-content button {
	width: 100%;
	padding: 10px 0;
	margin-top: 18px;
	border: 1px solid #b4985a;
	background-color: #fff;
	color: #b4985a;
	font-weight: bold;
}

.pop-close {
	float: right;
	cursor: pointer;
}
