@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Malgun Gothic', 'Sans-serif';
	box-sizing: border-box;
}

@font-face {
	font-family: 'GmarketSans';
	font-weight: 200;
	src: url('../../font/GmarketSansBold.woff') format('woff');
}
@font-face {
	font-family: 'GmarketSans';
	font-weight: 100;
	src: url('../../font/GmarketSansMedium.woff') format('woff');
}
@font-face {
	font-family: 'tvn_enjoystorieslight';
	font-weight: normal;
	src: url('../../font/tvn__light.woff') format('woff');
}

@font-face {
	font-family: 'tvn_enjoystorieslight';
	font-weight: normal;
	src: url('../../font/tvn__light.eot') format('eot');
}

select {
	border: 1px solid rgb(211, 211, 211);
	height: 26px;
	background-color: #fff;
	padding-left: 5px;
	border-radius: 0;
	/*
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    
    background: url(img/btn_down.png) right no-repeat;
    */
	font-size: 14px;
}

/*
select::-ms-expand {
    display: none;
}
*/

.wrap {
	width: 100%;
}
.wrap-header {
	width: 100%;
	background-color: #b4985a;
}
.header {
	width: 1112px;
	padding: 20px;
	color: #fff;
	text-align: right;
	margin: 0 auto;
}
.header .user {
	background-image: url(../../img/ic-user.png);
	background-repeat: no-repeat;
	background-size: 16px;
	padding: 0 15px 0 20px;
}

.header .status {
	font-weight: bold;
}

.wrap-content {
	width: 100%;
	padding-bottom: 50px;
}
.wrap-tit {
	width: 1112px;
	margin: 0 auto;
	text-align: center;
	padding: 88px 0;
}
.wrap-tit .tit {
	font-size: 72px;
	color: #b4985a;
	font-family: 'GmarketSansBold';
}
.wrap-tit .subtit {
	font-size: 60px;
	font-family: 'tvn_enjoystorieslight';
}

.wrap-list {
	width: 1112px;
	margin: 0 auto;
}
.wrap-list select {
	width: 360px;
	height: 40px;
	font-size: 16px;
	border: 2px solid #000;
	padding-right: 10px;
}

.wrap-list button {
	border: none;
	width: 180px;
	height: 40px;
	background-color: #b4985a;
	color: #fff;
	float: right;
}
.list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-content: space-between;
	height: 1132px;
	padding-top: 20px;
}
.listbox {
	width: 360px;
	height: 360px;
	border: 1px solid #c4c4c4;
	padding: 26px;
	position: relative;
}
.writer {
	margin-bottom: 35px;
	color: #666;
}
.writer .team {
	font-weight: bold;
}
.listbox .txt {
	font-size: 22px;
	font-weight: bold;
	line-height: 140%;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	height: 176px;
}

.info {
	position: absolute;
	bottom: 26px;
}
.info .like {
	background-image: url(../../img/ic_like.svg);
	background-repeat: no-repeat;
	padding: 0 16px 0 24px;
}
.info .num-reply {
	background-image: url(../../img/ic-reply.svg);
	background-repeat: no-repeat;
	padding: 0 130px 0 20px;
}
.info .date {
	color: #666;
}

.paging {
	margin: 60px auto;
	text-align: center;
	line-height: 0;
}
.paging > span {
	display: inline-block;
	overflow: hidden;
}
.paging > span img {
	width: 26px;
	height: 26px;
}
.paging a {
	text-align: center;
	list-style-type: none;
	border: 1px solid #ccc;
	border-left: 0;
	text-decoration: none;
	width: 28px;
	height: 28px;
	color: #333;
	float: left;
	line-height: 180%;
	letter-spacing: 0;
}

.paging a:first-child {
	border-left: 1px solid #ccc;
}

.paging a:last-child:after {
	display: block;
	clear: both;
	content: '';
}

.paging a:hover {
	background-color: #777;
	color: #fff;
}

.paging .now {
	background-color: #777;
	color: #fff;
}
