@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Malgun Gothic', 'Sans-serif';
	box-sizing: border-box;
}

@font-face {
	font-family: 'GmarketSans';
	font-weight: 200;
	src: url('../../font/GmarketSansBold.woff') format('woff');
}
@font-face {
	font-family: 'GmarketSans';
	font-weight: 100;
	src: url('../../font/GmarketSansMedium.woff') format('woff');
}
@font-face {
	font-family: 'tvn';
	font-weight: 100;
	src: url('../../font/tvn.woff') format('woff');
}
@font-face {
	font-family: 'nanummyeongjo';
	font-weight: 100;
	src: url('../../font/NanumMyeongjo.woff') format('woff');
}
html,
body {
	height: 100%;
}
textarea {
	overflow: auto;
	outline: none;
	resize: none;
}
input {
	outline: none;
}

select {
	border: 1px solid rgb(211, 211, 211);
	height: 26px;
	background-color: #fff;
	padding: 0 10px;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background: url(../../img/ic-down.svg) 96% 46% no-repeat;
	font-size: 16px;
	outline: none;
}
select::-ms-expand {
	display: none;
}

button {
	cursor: pointer;
}

button.normal {
	border: none;
	width: 180px;
	height: 40px;
	background-color: #b4985a;
	color: #fff;
	font-weight: bold;
}

.wrap {
	width: 100%;
}
.wrap-index {
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.wrap-footer {
	padding: 3vh 0 5vh 0;
	text-align: center;
	color: #ccc;
	font-size: 11px;
}
.poster-header {
	background-color: #000;
}

.poster-body {
	position: relative;
	text-align: center;
}
.poster-body button {
	border: 0;
	background-color: transparent;
	position: absolute;
	top: 9%;
	left: 33%;
	width: 36%;
}
.poster-body button img {
	width: 100%;
}
.poster-header img,
.poster-body img {
	width: 100%;
}

.wrap-header {
	width: 100%;
	background-color: #b4985a;
}
.wrap-btn {
	width: 100%;
	background-color: #e7f4ee;
	text-align: center;
	padding: 80px 0 150px;
}
.wrap-btn button {
	font-size: 24px;
	width: 360px;
	height: 80px;
	background-color: #000;
}
.header {
	width: 1112px;
	padding: 20px;
	color: #fff;
	text-align: right;
	margin: 0 auto;
}
.header .user {
	background-image: url(../../img/ic-user.png);
	background-repeat: no-repeat;
	background-size: 16px;
	padding: 0 15px 0 20px;
}

.header .status {
	font-weight: bold;
	cursor: pointer;
}

.wrap-content {
	width: 1112px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.wrap-tit {
	text-align: center;
	padding: 88px 0;
}
.wrap-tit .tit {
	font-size: 72px;
	color: #b4985a;
	font-family: 'GmarketSans';
}
.wrap-tit .subtit {
	font-size: 60px;
	font-family: 'tvn';
}

.wrap-list,
.wrap-article,
.wrap-reply {
	width: 100%;
}

.wrap-list select {
	width: 360px;
	height: 40px;
	font-size: 16px;
	border: 2px solid #000;
	padding-right: 10px;
}

.wrap-list button {
	border: none;
	width: 180px;
	height: 40px;
	background-color: #b4985a;
	color: #fff;
	float: right;
	font-weight: bold;
}
.list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-content: space-between;
	height: 1112px;
	margin-top: 20px;
}
.nothing {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-content: center;
	color: #666;
	font-size: 16px;
}
.listbox {
	width: 360px;
	height: 360px;
	border: 1px solid #c4c4c4;
	padding: 26px;
	position: relative;
}
.listbox .writer {
	margin-bottom: 35px;
	color: #666;
}
.writer .team {
	font-weight: bold;
}
.listbox .txt {
	font-size: 22px;
	font-weight: bold;
	line-height: 140%;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	height: 180px;
}

.info {
	position: absolute;
	bottom: 26px;
}
.like {
	background-image: url(../../img/ic-like.svg);
	background-repeat: no-repeat;
	padding: 0 16px 0 24px;
	cursor: pointer;
}
.like.on {
	background-image: url(../../img/ic-like-on.svg);
	background-repeat: no-repeat;
	padding: 0 16px 0 24px;
}
.num-reply {
	background-image: url(../../img/ic-reply.svg);
	background-repeat: no-repeat;
	padding: 0 130px 0 20px;
}
.info .date {
	color: #666;
}

.paging {
	margin: 60px auto;
	text-align: center;
	line-height: 0;
}
.paging > span {
	display: inline-block;
	overflow: hidden;
}
.paging > span img {
	width: 26px;
	height: 26px;
}
.paging a {
	text-align: center;
	list-style-type: none;
	border: 1px solid #ccc;
	border-left: 0;
	text-decoration: none;
	width: 28px;
	height: 28px;
	color: #333;
	float: left;
	line-height: 180%;
	letter-spacing: 0;
}

.paging a:first-child {
	border-left: 1px solid #ccc;
}

.paging a:last-child:after {
	display: block;
	clear: both;
	content: '';
}

.paging a:hover {
	background-color: #777;
	color: #fff;
}

.paging .now {
	background-color: #777;
	color: #fff;
}

.wrap-article {
	background-color: #f5f5f5;
	padding: 20px;
	border: 1px solid #e9e9e9;
}

.tit-article {
	font-size: 22px;
	padding-bottom: 10px;
	color: #999;
	font-family: 'nanummyeongjo';
}
.txt-article {
	width: 100%;
	background-color: #fff;
	padding: 30px;
	text-align: center;
	border-radius: 15px;
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.txt-article p {
	padding: 100px 50px;
	font-size: 34px;
	line-height: 150%;
	font-family: 'nanummyeongjo';
}
.txt-start {
	width: 100%;
	text-align: left;
	padding: 50px 0 0 50px;
}
.txt-end {
	width: 100%;
	text-align: right;
	padding: 0px 50px 50px 0;
}

.etc-article {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.txt-article button {
	border: 0;
	padding: 6px 10px;
	border-radius: 5px;
	color: #999;
}

.wrap-info {
	display: flex;
	padding: 30px 0 10px 0;
	color: #666;
	justify-content: space-between;
	align-items: flex-start;
}

.btn-list {
	text-align: right;
	padding: 20px 0 0 0;
}
.btn-list button {
	padding: 6px 10px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
	color: #999;
}
/* 댓글 */
.write-reply {
	border: 3px solid #e0e0e0;
	width: 100%;
	margin: 50px 0 30px 0;
	text-align: right;
	padding: 16px;
}
.write-reply textarea {
	width: 100%;
	height: 80px;
	border: 0;
	resize: none;
	outline: none;
	text-align: left;
}
.write-reply button {
	border: 0;
	background-color: transparent;
	color: #b4985a;
	font-weight: bold;
}

.reply {
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #e0e0e0;
}
.reply .btns {
	float: right;
}
.reply .btns span {
	cursor: pointer;
}
.reply .date,
.reply .btns,
.reply .team {
	color: #999;
}
.reply-writer {
	padding: 8px 0;
}
.reply-writer .name {
	font-weight: bold;
	padding-right: 6px;
}
.txt-reply {
	padding: 10px 0 20px 0;
}
.reply-edit {
	border: 1px solid #e0e0e0;
	text-align: right;
	padding: 16px;
}
.reply-edit textarea {
	width: 100%;
	height: 80px;
	text-align: left;
	resize: none;
	border: 0;
}

.reply-edit button {
	border: 0;
	background-color: transparent;
	color: #b4985a;
	font-weight: bold;
}
/* 팝업 */
#modal {
	display: none;
}
.wrap-layerpop {
	position: fixed;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
.wrap-layerpop::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.hidden {
	display: none;
}
.wrap-write {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 600px;
	background: #fff;
	text-align: center;
	padding: 0 0 30px 0;
}

.wrap-login {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 400px;
	background: #fff;
	text-align: center;
	padding: 0 0 30px 0;
}
.pop-header {
	width: 100%;
	padding: 15px 20px;
	background-color: #b4985a;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	box-sizing: border-box;
}
.pop-content {
	padding: 50px 40px 25px;
}
.pop-content p {
	padding-bottom: 30px;
	line-height: 150%;
}
.pop-content input,
.pop-content textarea {
	width: 90%;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #e0e0e0;
	text-align: left;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 10px;
	resize: none;
}
.pop-content textarea {
	height: 160px;
	padding: 10px;
}
.pop-content select {
	width: 90%;
	border: 1px solid #e0e0e0;
	text-align: left;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 10px;
	height: 40px;
	font-size: 14px;
	color: #666;
}
.pop-content button {
	width: 200px;
	padding: 10px 0;
	margin-top: 18px;
	border: 1px solid #b4985a;
	background-color: #fff;
	color: #b4985a;
	font-weight: bold;
}
.wrap-login .pop-content button {
	width: 90%;
}
.pop-close {
	float: right;
	cursor: pointer;
}
